<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update A User</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="topnav">
        <a class="active" href="/">Home</a>
        <a href="/create">Create a User</a>
    </div>
    <div class="form-add-new">
        <form action="/update-user" method="post">
            <fieldset>
                <legend>Update A User</legend>
                <div class="input-group d-none">
                    <label for="id">Id:</label>
                    <input type="text"  name="id" value="<%= userEdit.id %>">
                </div>
                <div class="input-group">
                    <label for="email">Email:</label>
                    <input type="text"  name="email" value="<%= userEdit.email %>">
                </div>
                <div class="input-group">
                    <label for="name">Name:</label>
                    <input type="text" name="myname" value="<%= userEdit.name %>">
                </div>
                <div class="input-group">
                    <label for="city">City:</label>
                    <input type="text" name="city" value="<%= userEdit.city %>">
                </div>

                <div>
                    <Button>Save</Button>
                </div>
            </fieldset>
        </form>
    </div>


</body>

</html>